.videoframe {
	background-color: rgb(00, 00, 00);
	margin: auto;
	display: flex;
	width: 500px;
	min-height: 250px;

	&__inner {
		position: relative;
		display: block;
		background-color: rgb(00, 00, 00);
		width: 100%;
	}
}

.fade-enter {
	opacity: 0.01;
}
.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 400ms ease-in;
}
.fade-exit {
	opacity: 1;
}

.fade-exit.fade-exit-active {
	opacity: 0.01;
	transition: opacity 400ms ease-in;
}
