.controller {
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
	&__inner {
		width: 100%;
		height: 15%;
		min-height: 44px;
		background: rgba(00, 00, 00, 0.9);
		z-index: 200000;
		position: absolute;
		bottom: 0;
	}
}
