.playbutton {
	width: 40px;
	height: 40px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 50%;
	background: transparent;
	position: relative;
	display: flex;
	margin: 1px;
	cursor: pointer;
}

.play::after {
	content: ' ';
	position: absolute;
	margin: -10px 10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid rgb(255, 255, 255);
	border-bottom: 10px solid transparent;
}

.pause::after {
	content: ' ';
	position: absolute;
	margin: -8px 12px;
	width: 3px;
	height: 15px;
	background-color: transparent;
	border-top: none;
	border-bottom: none;
	border-left: 5px solid rgb(255, 255, 255);
	border-right: 5px solid rgb(255, 255, 255);
}
