.thumbnail {
	height: 150px;
	position: absolute;
	bottom: 30px;
	width: 100px;
	background: rgba(00, 00, 00, 0.95);
	font-family: sans-serif;
	font-size: 12px;
	padding: 0;
	color: white;

	&__description {
		margin: 10px;
	}

	.videoshot {
		width: 100%;
		margin: auto;
	}
}
