.timeline {
	width: 80%;
	position: absolute;
	right: 5%;
	bottom: 45%;
	height: 10%;
	cursor: pointer;

	&__inner {
		height: 100%;
		width: 100%;
		bottom: 0;
		right: 0;
		position: absolute;
		-webkit-appearance: none;
		border-radius: 5px;

		&::-webkit-slider-thumb {
			opacity: 0;
		}
	}
}
